# EJERCICIO TITANIC

![](https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/RMS_Titanic_3.jpg/800px-RMS_Titanic_3.jpg)

Para el ejercicio final, intentá combinar todas las habilidades que aprendiste hasta ahora para cumplir las consignas. **Sentite libre de desviarte de las consignas y explorar los datos que te parezcan interesantes.**

**Link dataset**: https://raw.githubusercontent.com/PPereyraAN/Cursos/main/titanic.csv

Este archivo contiene información sobre todos los pasajeros y tripulantes del RMS Titanic. Sus columnas son:

- ``name``: strings with the name of the passenger.
- ``gender``: "male" or "female".
- ``age``: a float with the persons age on the day of the sinking. The age of babies (under 12 months) is given as a fraction of one year.
- ``class``: a string specifying the class (1st, 2nd or 3rd) for passengers or the type of service aboard for crew members.
- ``embarked``: the persons place of of embarkment.
- ``country``: the persons home country.
- ``ticketno``: the persons ticket number (NA for crew members).
- ``fare``: the ticket price (NA for crew members, musicians and employees of the shipyard company).
- ``sibsp``: a number specifying the number if siblings/spouses aboard.
- ``parch``: a number specifying the number of parents/children aboard.
- ``survived``: a string ("no" or "yes") specifying whether the person has survived the sinking.

In [557]:
import pandas as pd
url = "https://raw.githubusercontent.com/PPereyraAN/Cursos/main/titanic.csv"

***Leer el dataset y mostrar:***

- ***Los primeros 5 registros***
- ***Los ultimos 5 registros***

In [558]:
#Leo el Dataset y le asigno un el nombre ds_titanic.

ds_titanic = pd.read_csv(url)

In [559]:
#Hago un .info para ver si hay datos nulos y los tipos de datos.

ds_titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2207 entries, 0 to 2206
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      2207 non-null   object
 1   gender    2207 non-null   object
 2   age       2205 non-null   float64
 3   class     2207 non-null   object
 4   embarked  2207 non-null   object
 5   country   2126 non-null   object
 6   ticketno  1316 non-null   float64
 7   fare      1291 non-null   float64
 8   sibsp     1307 non-null   float64
 9   parch     1307 non-null   float64
 10  survived  2207 non-null   object
dtypes: float64(5), object(6)
memory usage: 189.8+ KB

In [560]:
#Muestro los primeros 5 registros.

ds_titanic.head()

,name,gender,age,class,embarked,country,ticketno,fare,sibsp,parch,survived
0,"Abbing, Mr. Anthony",male,42.0,3rd,S,United States,5547.0,7.11,0.0,0.0,no
1,"Abbott, Mr. Eugene Joseph",male,13.0,3rd,S,United States,2673.0,20.05,0.0,2.0,no
2,"Abbott, Mr. Rossmore Edward",male,16.0,3rd,S,United States,2673.0,20.05,1.0,1.0,no
3,"Abbott, Mrs. Rhoda Mary 'Rosa'",female,39.0,3rd,S,England,2673.0,20.05,1.0,1.0,yes
4,"Abelseth, Miss. Karen Marie",female,16.0,3rd,S,Norway,348125.0,7.13,0.0,0.0,yes

In [561]:
#Muestro los ultimos 5 registros.

ds_titanic.tail()

,name,gender,age,class,embarked,country,ticketno,fare,sibsp,parch,survived
2202,"Wynn, Mr. Walter",male,41.0,deck crew,B,England,NaN,NaN,NaN,NaN,yes
2203,"Yearsley, Mr. Harry",male,40.0,victualling crew,S,England,NaN,NaN,NaN,NaN,yes
2204,"Young, Mr. Francis James",male,32.0,engineering crew,S,England,NaN,NaN,NaN,NaN,no
2205,"Zanetti, Sig. Minio",male,20.0,restaurant staff,S,England,NaN,NaN,NaN,NaN,no
2206,"Zarracchi, Sig. L.",male,26.0,restaurant staff,S,England,NaN,NaN,NaN,NaN,no


***¿Cuantas filas y columnas tiene el dataset?***

In [562]:
#Muestro las filas y columnas que tiene el Dataset.

ds_titanic.shape

(2207, 11)

In [563]:
#Acá muestro lo mismo, pero con un poco de onda.

print(f'Este Dataset tiene {ds_titanic.shape[0]} filas y {ds_titanic.shape[1]} columnas')

Este Dataset tiene 2207 filas y 11 columnas

***Cambiar el nombre de la columna ```age``` por ```edad```***

In [564]:
#Cambio el nombre de la columna "age" por "edad" utilizando un rename y un inplace.

ds_titanic.rename(columns={'age':'edad'}, inplace=True)

In [565]:
#Compruebo que el cambio se haya realizado con exito

ds_titanic

,name,gender,edad,class,embarked,country,ticketno,fare,sibsp,parch,survived
0,"Abbing, Mr. Anthony",male,42.0,3rd,S,United States,5547.0,7.11,0.0,0.0,no
1,"Abbott, Mr. Eugene Joseph",male,13.0,3rd,S,United States,2673.0,20.05,0.0,2.0,no
2,"Abbott, Mr. Rossmore Edward",male,16.0,3rd,S,United States,2673.0,20.05,1.0,1.0,no
3,"Abbott, Mrs. Rhoda Mary 'Rosa'",female,39.0,3rd,S,England,2673.0,20.05,1.0,1.0,yes
4,"Abelseth, Miss. Karen Marie",female,16.0,3rd,S,Norway,348125.0,7.13,0.0,0.0,yes
...,...,...,...,...,...,...,...,...,...,...,...
2202,"Wynn, Mr. Walter",male,41.0,deck crew,B,England,NaN,NaN,NaN,NaN,yes
2203,"Yearsley, Mr. Harry",male,40.0,victualling crew,S,England,NaN,NaN,NaN,NaN,yes
2204,"Young, Mr. Francis James",male,32.0,engineering crew,S,England,NaN,NaN,NaN,NaN,no
2205,"Zanetti, Sig. Minio",male,20.0,restaurant staff,S,England,NaN,NaN,NaN,NaN,no
2206,"Zarracchi, Sig. L.",male,26.0,restaurant staff,S,England,NaN,NaN,NaN,NaN,no

***Aplicar un ```describe``` y sacar por lo menos 3 conclusiones***

In [566]:
ds_titanic.describe()

              edad      ticketno         fare        sibsp        parch
count  2205.000000  1.316000e+03  1291.000000  1307.000000  1307.000000
mean     30.436735  2.842157e+05    33.404760     0.499617     0.385616
std      12.159677  6.334726e+05    52.227592     1.042273     0.866092
min       0.166667  2.000000e+00     3.030500     0.000000     0.000000
25%      22.000000  1.426225e+04     7.180600     0.000000     0.000000
50%      29.000000  1.114265e+05    14.090200     0.000000     0.000000
75%      38.000000  3.470770e+05    31.060750     1.000000     0.000000
max      74.000000  3.101317e+06   512.060700     8.000000     9.000000

In [567]:
#Con los datos proporcionados, sabemos que la edad promedio de toda la tripulacion es de 30.44 años, que la edad minima es de 0.17 y que la edad maxima es de 74.0.

In [568]:
#Acá voy a proporcionar los datos que saqué del ds.describe en forma de código.

#Muestro el promedio de edad con un f string y redondeando el número a dos decimales con un .2f.

print(f'El promedio de edad es de {ds_titanic.loc[:,"edad"].mean():.2f} años')

El promedio de edad es de 30.44 años

In [569]:
#Acá muestro la edad minima.

print(f'La edad minima es {ds_titanic.loc[:,"edad"].min():.2f} años')

La edad minima es 0.17 años

In [570]:
#Acá muestro la edad maxima.

print(f'La edad maxima es {ds_titanic.loc[:,"edad"].max():.2f} años')

La edad maxima es 74.00 años

***¿Cuales son las personas que tienen los tickets con mayores precio?***

In [571]:
#Selecciona y devuelve todas las filas de ds donde el valor en la columna 'fare' es igual al valor máximo de esa columna.

ds_titanic.loc[ds_titanic['fare'] == ds_titanic['fare'].max()]

,name,gender,edad,class,embarked,country,ticketno,fare,sibsp,parch,survived
197,"Cardeza, Mrs. Charlotte Wardle",female,58.0,1st,C,United States,17755.0,512.0607,0.0,1.0,yes
198,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,1st,C,United States,17755.0,512.0607,0.0,1.0,yes
714,"Lesueur, Mr. Gustave J.",male,35.0,1st,C,NaN,17755.0,512.0607,0.0,0.0,yes
1248,"Ward, Miss. Annie Moore",female,37.0,1st,C,NaN,17755.0,512.0607,0.0,0.0,yes

In [572]:
#Acá compruebo que la cantidad de veces que arroja el código sea la correcta, guardando todo en una variable "cantidad"
#En este código le indico que me filtre los valores de la columna "fare" donde el valor sea igual a "512.0607"
#Despues con un .count cuento la cantidad de veces que ese valor esta en la columna "fare"

cantidad = ds_titanic[ds_titanic['fare'] == 512.0607]['fare'].count()
cantidad

4

***Contar la cantidad de personas por genero***

In [601]:
#Utilizo un value_counts para contar la cantidad de mujeres y hombres que hay en la columna "gender" y lo guardo en una variable.
cantidad_personas_genero = ds_titanic['gender'].value_counts()

In [603]:
#Acá muestro el resultado con un print f

print(f'Hay {cantidad_personas_genero[1]} mujeres y {cantidad_personas_genero[0]} hombres')

Hay 489 mujeres y 1718 hombres

***¿De cuantos paises diferentes provenian las personas?***

In [607]:
#Acá utilizo un .unique para que me de la cantidad de paises distintos que hay en la columna "country".

paises = ds_titanic["country"].unique()

In [608]:
#Acá hago un print f para que quede más claro

print(f'Las personas provenian de {len(paises)} paises diferentes')

Las personas provenian de 49 paises diferentes

***Encontrar la edad promedio de todas las personas a bordo***

In [609]:
#Muestro el promedio de edad con un f string y redondeo el número a dos decimales con un .2f.

print(f'El promedio de edad es de {ds_titanic.loc[:,"edad"].mean():.2f} años')

El promedio de edad es de 30.44 años

***Filtrar solo los hombres, de primera clase, que sean de Estados unidos o Inglaterra. Finalmente ordenarlos por el precio del ticket***

In [610]:
#Primero filtro los datos de "gender" para que solo me muestre los hombres, luego filtro "class" para que me muestre solo los pasajeros de primera clase, después le digo que solo me muestre los pasajeros de EEUU y UK.
#Finalmente ordeno todo por el precio de Ticket con un sort.values

ds_titanic.loc[(ds_titanic['gender'] == 'male') & (ds_titanic['class'] == '1st') & ((ds_titanic.country == 'United States') | (ds_titanic.country == 'England'))].sort_values(by='fare')

,name,gender,edad,class,embarked,country,ticketno,fare,sibsp,parch,survived
201,"Carlsson, Mr. Frans Olof",male,33.0,1st,S,United States,695.0,5.0000,0.0,0.0,no
96,"Baumann, Mr. John D.",male,60.0,1st,C,United States,17318.0,25.1806,0.0,0.0,no
212,"Case, Mr. Howard Brown",male,49.0,1st,S,United States,19924.0,26.0000,0.0,0.0,no
755,"Maguire, Mr. John Edward",male,30.0,1st,S,United States,110469.0,26.0000,0.0,0.0,no
1074,"Salomon, Mr. Abraham Lincoln",male,43.0,1st,S,United States,111163.0,26.0000,0.0,0.0,yes
...,...,...,...,...,...,...,...,...,...,...,...
198,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,1st,C,United States,17755.0,512.0607,0.0,1.0,yes
424,"Fry, Mr. Richard",male,39.0,1st,S,England,112058.0,NaN,0.0,0.0,no
515,"Harrison, Mr. William Henry",male,46.0,1st,S,England,112059.0,NaN,0.0,0.0,no
588,"Ismay, Mr. Joseph Bruce",male,49.0,1st,S,England,112058.0,NaN,0.0,0.0,yes
942,"Parr, Mr. William Henry Marsh",male,30.0,1st,B,England,112052.0,NaN,0.0,0.0,no

In [579]:
#Acá guardo todo lo anterior en una variable (ds_comprobacion2) para despues hacer comprobaciones y asegurarme que todo funciona como se me pidio

ds_comprobacion2 = ds_titanic.loc[(ds_titanic['gender'] == 'male') & (ds_titanic['class'] == '1st') & ((ds_titanic.country == 'United States') | (ds_titanic.country == 'England'))].sort_values(by='fare')

In [611]:
#Acá compruebo con un .unique que el genero sea el pedido

ds_comprobacion2["gender"].unique()

array(['male'], dtype=object)

In [612]:
#Acá compruebo cuantas clases arroja

ds_comprobacion2["class"].unique()

array(['1st'], dtype=object)

In [582]:
#Acá compruebo la cantidad de paises que arroja

ds_comprobacion2["country"].unique()

array(['United States', 'England'], dtype=object)

***Contar cuantas personas murieron o sobrevivieron que no sean ni de Estados unidos ni de Inglaterra***

In [583]:
#Creo una variable "personas" le asigno la cantidad de personas que hay en el barco que no sean de Estados Unidos ni de Inglaterra

personas = ds_titanic.loc[(ds_titanic['country'] != 'United States') & (ds_titanic['country'] != 'England')]

In [613]:
#Compruebo la cantidad de paises que hay ahora y me da "47", eso quiere decir que los dos paises fueron excluidos correctamente

conteo_paises = personas["country"].unique()
print(len(conteo_paises))

47

In [615]:
#Compruebo que entre esos "47" paises no este "United States" y efectivamente no está

personas[personas["country"] == "United States"]["country"].nunique()

0

In [616]:
#Acá repito el mismo procedimiento y efectivamente tampoco está "England"

personas[personas["country"] == "England"]["country"].nunique()

0

In [617]:
#Acá aplico un .value_counts en la columna "survived" de la variable "personas" previamente filtrada para que me cuente la cantidad de "no" y de "yes" que hay y asi tener el número total de sobrevivientes y de muertos

personas["survived"].value_counts()

survived
no     553
yes    265
Name: count, dtype: int64

In [588]:
#Tengo claro que el código anterior no es necesario y que puedo aplicar el print f saltandome ese paso, pero quiero que quede claro el proceso que hice para llegar al resultado final

#Acá simplemente utilizo un print f para dar el resultado final más claro

print(f'Hay {personas["survived"].value_counts()[0]} personas que murieron y {personas["survived"].value_counts()[1]} personas que sobrevivieron, que no son de Estados Unidos ni de Inglaterra')

Hay 553 personas que murieron y 265 personas que sobrevivieron, que no son de Estados Unidos ni de Inglaterra

***Encontrar la edad promedio de los hombres a bordo***

In [618]:
#Acá filtro la columna "gender" para que solo me muestre los hombres y luego le aplico un .mean a la columna edad previamente filtrada y la guardo en una variable

edad_promedio_hombres = ds_titanic.loc[ds_titanic['gender'] == 'male', 'edad'].mean()

In [619]:
#Acá simplemente le aplico un print f con un .2f para que me muestre solo dos digitos despues de la coma

print(f'La edad promedio de los hombres es de {edad_promedio_hombres.mean():.2f} años')

La edad promedio de los hombres es de 30.83 años

***Seleccionar solo las personas que pertenezca a la clase '3rd', luego contar cuantos sobrevivieron y cuantos murieron.***

In [620]:
#Filtro la columna "class" para que solo muestre los de 3ra clase y despues aplico un .value_counts para que me diga cuantos sobrevivieron y cuantos murieron y lo guardo en una variable para despues llamarla en un print f sin tener que escribir tanto código

personas_3rd = ds_titanic.loc[ds_titanic['class'] == '3rd', 'survived'].value_counts()

In [621]:
#Print f para que quede más claro el resultado final

print(f'De la 3ra clase sobrevivieron {personas_3rd[1]} personas y murieron {personas_3rd[0]}')

De la 3ra clase sobrevivieron 181 personas y murieron 528

***Tarifa promedio correspondiente a cada tipo de clase***

In [622]:
#Googleando encontre que se podia usar un groupby para agrupar datos de columnas y asi resumir el código a una linea, con los conocimientos previos habría hecho un código mucho más largo

#Primero agrupo los datos de "class" y después saco la tarifa promedio de cada clase anteriormente agrupada por clase y lo guardo en una variable

promedio_clases = ds_titanic.groupby('class')['fare'].mean()

In [623]:
#Acá muestro solo los datos pedidos

print(f'El promedio de tarifa de primera clase es de {promedio_clases[0]:.2f}')
print(f'El promedio de tarifa de segunda clase es de {promedio_clases[1]:.2f}')
print(f'El promedio de tarifa de tercera clase es de {promedio_clases[2]:.2f}')

El promedio de tarifa de primera clase es de 89.02
El promedio de tarifa de segunda clase es de 21.50
El promedio de tarifa de tercera clase es de 12.93

***Encuentre la tasa de supervivencia promedio correspondiente a cada tipo de cabina***

In [595]:
#Acá me fijo cuantos tipos de cabinas hay

ds_titanic["embarked"].unique()

array(['S', 'C', 'B', 'Q'], dtype=object)

In [596]:
#Este ejercicio me complicó bastante, intenté sacar el promedio como hice en el ejercicio anterior y me daba error porque los datos de la columna "survived" no estan en formato int entonces .mean no puede sacar el promedio
#Estuve buscando info y encontre una forma de reemplazar los datos de "survived" por "1" y "0" con un .replace, pero me modificaba los datos de mi DataFrame y si lo volvia a llamar más adelante, volvia con los "1" y 0"
#Finalmente di con la solucion, encontre .map que modifica los elementos de una serie reemplazandolos por los elementos dentro de un diccionario y como trae de vuelta los nuevos valores mapeados, no modifica el original
#Creo una funcion utilizando .map para mapear de nuevo los datos de la columna "survived" y que despues de mapearlos le saque el porcentaje

def supervivientes_promedio(i):
    return i.map({'yes': 1, 'no': 0}).mean()

In [597]:
#Acá agrupo por la columna "embarked" y después le aplico la funcion a la columna "survived" utilizando .apply que sirve para aplicar funciones a los DataFrame

supervivientes = ds_titanic.groupby('embarked')['survived'].apply(supervivientes_promedio)

In [598]:
#Acá simplemente uso un print para mostrar los resultados finales

print(f'El promedio de supervivencia de B es de {supervivientes[0]:.2f}')
print(f'El promedio de supervivencia de C es de {supervivientes[1]:.2f}')
print(f'El promedio de supervivencia de Q es de {supervivientes[2]:.2f}')
print(f'El promedio de supervivencia de S es de {supervivientes[3]:.2f}')

El promedio de supervivencia de B es de 0.22
El promedio de supervivencia de C es de 0.56
El promedio de supervivencia de Q es de 0.36
El promedio de supervivencia de S es de 0.29

In [599]:
#Acá confirmo que los datos de la columna "survived" siguen intactos

ds_titanic

,name,gender,edad,class,embarked,country,ticketno,fare,sibsp,parch,survived
0,"Abbing, Mr. Anthony",male,42.0,3rd,S,United States,5547.0,7.11,0.0,0.0,no
1,"Abbott, Mr. Eugene Joseph",male,13.0,3rd,S,United States,2673.0,20.05,0.0,2.0,no
2,"Abbott, Mr. Rossmore Edward",male,16.0,3rd,S,United States,2673.0,20.05,1.0,1.0,no
3,"Abbott, Mrs. Rhoda Mary 'Rosa'",female,39.0,3rd,S,England,2673.0,20.05,1.0,1.0,yes
4,"Abelseth, Miss. Karen Marie",female,16.0,3rd,S,Norway,348125.0,7.13,0.0,0.0,yes
...,...,...,...,...,...,...,...,...,...,...,...
2202,"Wynn, Mr. Walter",male,41.0,deck crew,B,England,NaN,NaN,NaN,NaN,yes
2203,"Yearsley, Mr. Harry",male,40.0,victualling crew,S,England,NaN,NaN,NaN,NaN,yes
2204,"Young, Mr. Francis James",male,32.0,engineering crew,S,England,NaN,NaN,NaN,NaN,no
2205,"Zanetti, Sig. Minio",male,20.0,restaurant staff,S,England,NaN,NaN,NaN,NaN,no
2206,"Zarracchi, Sig. L.",male,26.0,restaurant staff,S,England,NaN,NaN,NaN,NaN,no

***Me voy a tomar el trabajo de comprobar si Jack y Rose de la pelicula "Titanic" realmente existieron***

In [600]:
#Acá consulto si los nombres de los protagonistas de la pelicula estan entre los pasajeros y como claramente son personajes inventados, no estan entre los pasajeros

ds_titanic.loc[(ds_titanic['name'] == "Dawson, Jack") | (ds_titanic['name'] == "DeWitt Bukater, Rose")]

Empty DataFrame
Columns: [name, gender, edad, class, embarked, country, ticketno, fare, sibsp, parch, survived]
Index: []